.div-foto{
    display: flex;
    margin-top: 20px;
}
.arq{
    width: 130px;
}
.img-arq{
    display: flex;
    flex-wrap: wrap;
}

    .navbar-brand{
        position: absolute;
        margin-left: 39%;
        top: 7px;

    }



.img-arq{
    padding-top: 2vh;
}


